* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
}

.sideBar {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid rgb(245, 243, 240);
    padding: 20px;
}

.logo {
    padding-bottom: 30px;
}

.logo i {
    padding-right: 10px;
}

.logo h2 {
    color: rgb(7, 8, 2);
}

.sideBar button {
    background: rgb(255, 78, 3);
    border: none;
    color: rgb(245, 243, 240);
    padding: 10px 20px;
    border-radius: 50px;
    width: 150px;
    font-weight: 100;
    cursor: pointer;
}

.sideBar button i {
    padding-right: 10px;
}

.sideBar .side_links {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

.sideBar .side_links h4 {
    text-transform: uppercase;
    color: rgba(37, 37, 37, 0.377);
    font-weight: 600;
    font-size: 15px;
    padding-top: 20px;
}

.sideBar .side_links a {
    text-decoration: none;
    padding: 10px;
    color: rgb(7, 8, 2);
    font-size: 15px;
    transition: 0.5s;
}

.sideBar .side_links a i {
    padding-right: 20px;
}

.sideBar .side_links a:hover {
    background: rgb(250, 247, 240);
    border-radius: 50px;
    padding: 10px;
}

main .navbar {
    display: flex;
    padding: 20px;
}

main .navbar .searchBar {
    border: 2px solid rgb(245, 243, 240);
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}

main .navbar .searchBar input {
    width: 350px;
    padding: 10px;
    border: none;
    outline: none;
}

main .navbar .searchBar button {
    padding: 10px;
    background: rgb(245, 243, 240);
    border: none;
    border-radius: 5px;
    width: 50px;
}

main .navbar .right {
    position: absolute;
    right: 0;
}

main .navbar .actions a {
    font-size: 20px;
    color: rgb(102, 102, 102);
    text-decoration: none;
}

main .navbar .right {
    display: flex;
}

main .navbar .right .actions {
    padding-right: 40px;
    display: flex;
    align-items: center;
}

main .navbar .right .profile {
    display: flex;
    align-items: center;
}

.sideBar .side_links .pic {
    display: none;
}
main .navbar .right .profile .pic {
    background: rgb(255, 78, 3);
    color: rgb(250, 247, 240);
    padding: 10px 15px;
    border-radius: 50%;
}

main .navbar .right .profile .name {
    padding-right: 50px;
}

@media (max-width: 998px) {
    .txt {
        display: none;
    }

    .sideBar .add{
        display: none;
    }

    .sideBar button{
        width: 35px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .sideBar{
        width: 80px;
        align-items: center;
        padding: 10px;
    }

    .sideBar .side_links h4 {
        display: none;
    }

    .sideBar .side_links a {
        width: 40px;
        text-align: center;
        padding: 10px;
    }

    .logo .logo_txt{
        display: none;
    }

    .logo{
        padding-left: 5px;
    }

    main .navbar{
        display: block;
    }

    main .navbar .searchBar{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    
    main .navbar .searchBar input {
        width: 200px;
    }

    .sideBar .side_links .pic {
        display: block;
        margin-top: 20px;
        width: 40px;
        text-align: center;
        padding: 10px;
        background: rgb(255, 78, 3);
        color: rgb(250, 247, 240);
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
    }

    main .navbar .right {
        display: none;
    }
}